﻿@{
    ViewBag.Title = "Home Page";
}

<section data-ng-controller="BookCtrl" class="row">

	<header>
		<h4>
			
		</h4>
	</header>
	<article data-ng-if="modelEdit.show">
		<div class="alert alert-info" ng-show="message.length > 0">
			<p>{{ message }}</p>
		</div>
		<form action="" class="form" novalidate="novalidate" name="formBook" data-ng-submit="submit()">
			{{modelEdit.formBook}}
			<div class="form-group">
				<label for="">Code:</label>
				<input type="text" readonly="readonly" class="form-control" value="{{ modelEdit.formBook.id }}" />
			</div>
			<div class="form-group">
				<label for="">Name</label>
				<input type="text" maxlength="100" data-ng-maxlength="100" required="required" class="form-control" placeholder="Enter book's name"  data-ng-model="modelEdit.formBook.name"/>
				<span data-ng-show="modelEdit.formBook.name.length==0 ||modelEdit.formBook.name.length==null" class="form-control alert-danger">
					This field is required!
				</span>
			</div>
			<div class="form-group">
				<label for="">Description:</label>
				<input type="text" placeholder="Enter book's description" class="form-control" data-ng-model="modelEdit.formBook.description" />
			</div>
			
			<button class="btn btn-success" title="Save" type="submite" ng-disabled="modelEdit.formBook.name.length==0 ||modelEdit.formBook.name.length==null">
				<span class="glyphicon glyphicon-save"></span>
				Salvar
			</button>
			<button class="btn btn-default" title="Voltar" type="button" data-ng-click="clickComeBack()">
				<span class="glyphicon glyphicon-remove"></span>
				Cancelar
			</button>
		</form>
	</article>

	<article class="table-responsive" data-ng-if="books.length > 0 && !modelEdit.show">
		<table class="table table-condensed table-hover table-hover table-striped table-bordered">
			<caption>Books's list</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>description</th>
					<th>actions</th>
				</tr>
			</thead>
			<tfoot>
				<tr colspan="4">
					<em>Count: <strong data-ng-bind="books.length"></strong></em>
				</tr>
			</tfoot>
			<tbody>
				<tr data-ng-repeat="item in books">
					<td data-ng-bind="item.id"></td>
					<td data-ng-bind="item.name"></td>
					<td data-ng-bind="item.description"></td>
					<td>
						<a href="#" data-ng-click="clickToEdit(item)" class="btn btn-link" title="Edit book">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
	<section data-ng-if="books.length == 0" class="text-center">
		<em>There is no registered record.. ;-(</em>
	</section>
</section>