﻿@{
    ViewBag.Title = "Home Page";
}

<section data-ng-controller="BookCtrl" class="row">

	<header>
		<h4>
			
		</h4>
	</header>

	<article class="table-responsive" data-ng-if="books.length > 0">
		<table class="table table-condensed table-hover table-hover table-striped table-bordered">
			<caption>Books's list</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>description</th>
					<th>actions</th>
				</tr>
			</thead>
			<tfoot>
				<tr colspan="4">
					<em>Count: <strong data-ng-bind="books.length"></strong></em>
				</tr>
			</tfoot>
			<tbody>
				<tr data-ng-repeat="item in books">
					<td data-ng-bind="item.id"></td>
					<td data-ng-bind="item.name"></td>
					<td data-ng-bind="item.description"></td>
					<td>
						<a href="#" class="btn btn-link">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
	<section data-ng-if="books.length == 0" class="text-center">
		<em>There is no registered record.. ;-(</em>
	</section>
</section>