﻿<!DOCTYPE html>
<html data-ng-app="booksSeller">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<main class="container body-content">
    <section>
        <header>
            <h2>BookSeller</h2>
            <hr/>
        </header>
        @RenderBody()
    </section>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appAngular")
    @RenderSection("scripts", required: false)
</body>
</html>
